.author-line {
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  gap: var(--size-2);
}
/* Put a separator between the time and link */
.author-line p span::after {
  content: " | ";
}

@media screen and (max-width: 768px) {
  .author-line {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
  .author-line p span::after {
    content: "";
  }
}

.card__story {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 70px 1fr;
  align-items: center;
}

.card__story p {
  font-size: var(--font-size-3);
}

.card__story h2 {
  font-size: var(--font-size-4);
  font-family: var(--font-sans);
}
