nav {
  position: sticky;
  top: 0;
  box-shadow: var(--shadow-2);
}

nav a,
nav a:visited {
  color: var(--text-1);
}

nav svg {
  display: inline-block;
  vertical-align: text-bottom;
}

nav h5 {
  max-inline-size: none;
}

section.comments-container {
  gap: var(--size-6);
}
section {
  padding-left: 1rem;
  padding-right: 1rem;
}
.card__comment {
  width: 80ch;
  max-width: calc(100vw - 3rem);
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  font-family: var(--font-serif);
}

.card__comment details {
  margin-top: var(--size-4);
}

.card__comment .text p:last-of-type {
  margin-bottom: 0;
}

.card__comment summary {
  font-family: var(--font-sans);
}
