html {
  --brand-light: var(--orange-7);

  --text1-light: var(--gray-8);
  --text2-light: var(--gray-7);

  --surface1-light: var(--gray-2);
  --surface2-light: var(--gray-0);
  --surface3-light: var(--gray-1);
  --surface4-light: var(--gray-3);

  /* dim */
  --brand-dim: var(--orange-4);
  --text1-dim: var(--gray-3);
  --text2-dim: var(--gray-4);
  --surface1-dim: var(--gray-8);
  --surface2-dim: var(--gray-7);
  --surface3-dim: var(--gray-6);
  --surface4-dim: var(--gray-5);
  --surface-shadow-dim: 200 10% 13%;
  --shadow-strength-dim: 0.2;
}

:root {
  --brand: var(--orange-7);
  --font-serif: "Charter";
}

/* Undo normalize rules */
p {
  max-inline-size: unset;
}

nav {
  height: var(--size-7);
  background-color: var(--brand);
  position: sticky;
  top: 0;
}

nav div,
main {
  width: var(--size-content-3);
  max-width: 100%;
  margin: auto;
}

main > section {
  display: grid;
  gap: var(--size-3);
  margin-top: var(--size-3);
}
section.comments-container {
  gap: var(--size-6);
}

.grid {
  display: grid;
}

.card {
  border: 1px solid var(--surface-2);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
  padding: var(--size-3);
  line-height: var(--font-lineheight-4);
}

.card:hover {
  box-shadow: var(--shadow-4);
}

.card__story {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 70px 1fr;
  align-items: center;
}

.card__story p {
  font-size: var(--font-size-3);
}

.author-line {
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  gap: var(--size-2);
}

.card__comment {
  width: 80ch;
  max-width: calc(100vw - 3rem);
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.card__comment details {
  margin-top: var(--size-4);
}

.card__comment .text p:last-of-type {
  margin-bottom: 0;
}

.card__comment summary {
  font-family: var(--font-sans);
}

.text {
  overflow-wrap: break-word;
  font-size: var(--font-size-2);
}

.text * {
  margin: var(--size-3) 0;
}

.text pre {
  white-space: pre-wrap;
}

.comment__author {
  color: var(--gray-6);
}

.card__comment {
  font-family: var(--font-serif);
}

a.card__link {
  color: var(--text-1);
}

a.card__link:hover {
  text-decoration: none;
}

article h2 {
  font-size: var(--font-size-4);
  font-family: var(--font-sans);
}
